<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/account.css"></linkrel>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Dela+Gothic+One&display=swap" rel="stylesheet" />
    <title>MedZapis</title>
</head>
<body>
<div class="background">
    <nav class="navbar">

        <div class="container">
    
            <a href="#" class="navbar-brand">Мед<br>Запись</a>
    
            <div class="navbar-wrap">    
                <ul class="navbar-menu">
                    <li><a href="main.html">главная</a></li>
                    <li class="dropdown">
                        <a href="#">о нас</a>
                        <ul class="dropdown-menu">
                            <li><a href="ingo.html">информация</a></li>
                            <li><a href="doctors.html">наши специалисты</a></li>
                            <li><a href="certificates.html">наши сертификаты</a></li>
                            <li><a href="contacts.html">контакты</a></li>
                        </ul>
                    </li>
                    <li><a href="servises.html">услуги</a></li>
                    <li class="dropdown">
                        <a href="#">пациентам</a>
                        <ul class="dropdown-menu">
                            <li><a href="record.html">запись</a></li>
                            <li><a href="advices.html">советы</a></li>
                            <li><a href="reviews.html">отзывы</a></li>
                        </ul>
                    </li>
                    <li><a href="account.html">личный кабинет</a></li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-preview">
    
        <div class="preview-text">

            <div class="container-preview-text">
            <p class="h1-preview">ЛИЧНЫЙ КАБИНЕТ</p>
            <p class="text-preview">твое пространство :)</p>
            </div>
        </div>
    </div>
</div>

<div class="container-about">

    <div class="about-h1">

        <div class="container-about-h1">
            <p class="h1-about">О ВАС</p>
            
        </div>
    </div>
    <div class="preview-svyaz">

        <div class="container-preview-text2">
        <p class="h1-preview2">ФИО</p>
        <p class="text-preview2">ИВАНОВ ИВАН ИВАНОВИЧ</p>
        <p class="h1-preview2">ЭЛ. ПОЧТА</p>
        <p class="text-preview2">ivanov52@gmail.com</p>
        <p class="h1-preview2">ЛОГИН</p>
        <p class="text-preview2">ivan</p>
        <p class="h1-preview2">ПАРОЛЬ</p>
        <p class="text-preview2">*******</p>
        </div>
    </div>
</div>

<p class="h1-about">ВАШИ ЗАПИСИ</p>



<div class="footer">

    <p class="h1-footer">КЛИНИКА ВГМУ 2025</p>
    <p class="p-footer">Pars sanitatis velle sanari fuit (желание стать здоровым - часть выздоровления)</p>
</div>



</body>
</html>