<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css"></linkrel>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Dela+Gothic+One&display=swap" rel="stylesheet" />
    <title>MedZapis</title>
</head>
<body>
<div class="background">
    <nav class="navbar">

        <div class="container">
    
            <a href="#" class="navbar-brand">Мед<br>Запись</a>
    
            <div class="navbar-wrap">    
                <ul class="navbar-menu">
                    <li><a href="main.html">главная</a></li>
                    <li class="dropdown">
                        <a href="#">о нас</a>
                        <ul class="dropdown-menu">
                            <li><a href="ingo.html">информация</a></li>
                            <li><a href="doctors.html">наши специалисты</a></li>
                            <li><a href="certificates.html">наши сертификаты</a></li>
                            <li><a href="contacts.html">контакты</a></li>
                        </ul>
                    </li>
                    <li><a href="servises.html">услуги</a></li>
                    <li class="dropdown">
                        <a href="#">пациентам</a>
                        <ul class="dropdown-menu">
                            <li><a href="record.html">запись</a></li>
                            <li><a href="advices.html">советы</a></li>
                            <li><a href="reviews.html">отзывы</a></li>
                        </ul>
                    </li>
                    <li><a href="account.html">личный кабинет</a></li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-preview">
    
        <div class="preview-text">

            <div class="container-preview-text">
            <p class="h1-preview">КЛИНИКА ВГМУ</p>
            <p class="text-preview">клиника, которой доверяют</p>
            </div>
        </div>
        <div class="preview-image">

            <img src="" class="image-preview">
        </div>
    </div>
</div>

<div class="container-about">

    <div class="about-h1">

        <div class="container-about-h1">
            <p class="h1-about">О НАС</p>
            
        </div>
    </div>
    <div class="about-text">

        <div class="container-about-text">
            
            <p class="text-about">Клиника Витебского государственного университета оказывает широкий спектр платных медицинских услуг. Все цены согласованы с Министерством здравоохранения Республики Беларусь.
                Приём осуществляют профессора и доценты ВГМУ по многим специальностям.
                Любой пациент может попасть на прием к профессору или доценту по предварительной записи по телефону.</p>
        </div>
    </div>
</div>




<div class="container-servises">

    <p class="h1-servises">НАШИ УСЛУГИ</p>

    <div class="container-servises-text">

        <p class="text-servises">Лабораторные исследования любого уровня<br><br>
            Услуги офтальмологического центра<br><br>
            Услуги отделения пластической хирургии и косметологии<br><br>
            Услуги поликлинического отделения<br><br>
            Услуги УЗ-диагностики/ЭКГ/ФГДС/Холтер<br><br>
        </p>
        
    </div>
<div class="container-button-servises">
    <a class="a-button" href="servises.html"><div class="container-servises-button">Подробнее</div></a>
</div>
</div>




<div class="background" style="margin-top: 150px;">
    
    <div class="container-preview">
    
        <div class="preview-text">

            <div class="container-preview-text">
            <p class="h1-preview">СВЯЗАТЬСЯ С НАМИ</p>
            <p class="text-preview">просто!</p>
            </div>
        </div>

        <div class="preview-svyaz">

            <div class="container-preview-text2">
            <p class="h1-preview2">ТЕЛЕФОН</p>
            <p class="text-preview">+375 (212) 63-32-55</p>
            <p class="h1-preview2">ЭЛ. ПОЧТА</p>
            <p class="text-preview">klinikavgmu@mail.ru</p>
            <p class="h1-preview2">ИНСТАГРАМ</p>
            <p class="text-preview">@clinicvsmu.by</p>
            <p class="h1-preview2">АДРЕС</p>
            <p class="text-preview">Витебск, пр-т Победы, 20</p>
            </div>
        </div>
    </div>
</div>

<div class="footer">


    <p class="h1-footer">КЛИНИКА ВГМУ 2025</p>
    <p class="p-footer">Pars sanitatis velle sanari fuit (желание стать здоровым - часть выздоровления)</p>
</div>



</body>
</html>