<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/servises.css"></linkrel>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Dela+Gothic+One&display=swap" rel="stylesheet" />
    <title>MedZapis</title>
</head>
<body>
<div class="background">
    <nav class="navbar">

        <div class="container">
    
            <a href="#" class="navbar-brand">Мед<br>Запись</a>
    
            <div class="navbar-wrap">    
                <ul class="navbar-menu">
                    <li><a href="main.html">главная</a></li>
                    <li class="dropdown">
                        <a href="#">о нас</a>
                        <ul class="dropdown-menu">
                            <li><a href="ingo.html">информация</a></li>
                            <li><a href="doctors.html">наши специалисты</a></li>
                            <li><a href="certificates.html">наши сертификаты</a></li>
                            <li><a href="contacts.html">контакты</a></li>
                        </ul>
                    </li>
                    <li><a href="servises.html">услуги</a></li>
                    <li class="dropdown">
                        <a href="#">пациентам</a>
                        <ul class="dropdown-menu">
                            <li><a href="record.html">запись</a></li>
                            <li><a href="advices.html">советы</a></li>
                            <li><a href="reviews.html">отзывы</a></li>
                        </ul>
                    </li>
                    <li><a href="account.html">личный кабинет</a></li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-preview">
    
        <div class="preview-text">

            <div class="container-preview-text">
            <p class="h1-preview">УСЛУГИ</p>
            <p class="text-preview">нам важно, что ты чувствуешь</p>
            </div>
        </div>
    </div>
</div>




<div class="container-servises">
    <div class="servise-leftf">

        <p class="h1-leftf">ЛАБОРАТОРНЫЕ ИССЛЕДОВАНИЯ</p>

        <div class="container-servises-text">

            <p class="text-servises">Анализ крови<br><br>
                <b></b>Анализ мочи<br><br>
                <b></b>Анализ кала<br><br>
                <b></b>Микробиологический анализ<br><br>
                <b></b>Гистологический анализ<br><br>
                <b></b>Цитологический анализ<br><br>
            </p>
            
        </div>
    </div>

    <div class="servise-leftf">

        <p class="h1-leftf">ОТДЕЛЕНИЕ ПЛАСТИЧЕСКОЙ ХИРУРГИИ И КОСМЕТОЛОГИИ</p>

        <div class="container-servises-text">

            <p class="text-servises"><b>Инъекционная косметология</b><br><br>

                <b>Эстетическая косметология</b><br>Косметический массаж лица,<br>
                Комбинированная чистка лица,<br>
                Уходовый комплекс для лица с использованием косметических средств<br><br>
                <b>Лазерная косметология</b><br>ФОТОЛЕЧЕНИЕ (все лицо),<br>
                Лазерная шлифовка (все лицо)<br><br>

                <b>Пластическая хирургия</b><br>БЛЕФАРОПЛАСТИКА нижняя,
                БЛЕФАРОПЛАСТИКА верхняя,<br>
                АБДОМИНОПЛАСТИКА,	<br>
                ВИСОЧНЫЙ ЛИФТИНГ,<br>
                Подтяжка средней трети лица,<br>
                Увеличение груди (аугментационная мамммопластика),<br>
                Уменьшение груди (редукционная маммопластика),<br>
                Подтяжка груди (мастопексия),<br>
                Пластика половых губ (лабиопластика),<br>
                Коррекция сосково-ареолярного комплекса,<br>
                Хейлопластика,<br>
                Липосакция 1 зоны,<br>
                Ритидопластика (Подтяжка лица),<br>
                Устранение гинекомастии,<br>
                Хирургическое удаление рубцов,<br>
                Удаление доброкачественного новообразования<br><br>

                <b>ЛОР-хирургия</b><br>
                
                Операции по искревлению носовой перегородки,<br>
                Удаление полипов носа,<br>
                Рассечение синехий полости носа (спайки в носовых ходах),<br>
                Операции по уменьшению носовых раковин (Вазотомия),<br>
                Удаление кист, инородных тел пазух,<br>
                Хирургическое лечение хронических синуситов,<br>
                Хирургическое лечение храпа,<br>
                Удаление кист,полипов, папиллом небных дужек и миндалин

                <br><br>

                <b>Консультация</b><br>

                Косметолог,<br>
                Флеболог / Хирург,<br>
                Лор-хирург,<br>
                Пластический хирург,<br>
            </p>
            
        </div>
    </div>

    <div class="servise-leftf">

        <p class="h1-leftf">ПОЛИКЛИНИЧЕСКОЕ ОТДЕЛЕНИЕ</p>

        <div class="container-servises-text">

            <p class="text-servises"><b>Консультации врачей-специалистов</b><br>
                врач-специалист-офтальмолог<br>
                врач-специалист-хирург<br>
                врач-специалист-терапевт 1 кат. с измерением АД<br>
                врач-специалист-кардиолог 1 кат. с измерением АД<br>
                врач-специалист-невролог 1 кат. с измерением АД<br>
                врач-специалист-гинеколог 1 кат. (без осмотра)<br>
                врач-специалист-оториноларинголог высш.кат.<br>
                врач-специалист-проктолог высш.кат.<br>
                врач-специалист-эндокринолог высш.кат. с измерением АД
                <br><br>
                <b>Акушерство и гинекология</b><br><br>
                <b>Офтальмологические манипуляции</b><br><br>
                <b>Хирургические манипуляции и операции</b><br><br>
                <b>Массаж</b><br><br>
            </p>
            
        </div>
    </div>

    <div class="servise-leftf">

        <p class="h1-leftf">ОФТАЛЬМОЛОГИЧЕСКИЙ ЦЕНТР</p>

        <div class="container-servises-text">

            <p class="text-servises">Консультация врача офтальмолога высш.категории<br><br>
                Офтальмологический диагност.комплекс для взрослых (врач высш. категории)<br><br>
                Офтальмологический диагност.комплекс для детей (врач высш. категории)<br><br>
                Осмотр с фундус-линзой<br><br>
                Бесконтактная тонометрия<br><br>
            </p>
            
        </div>
    </div>

    <div class="servise-leftf">

        <p class="h1-leftf">УСЛУГИ УЗ-ДИАГНОСТИКИ/ЭКГ/ФГДС/ХОЛТЕР</p>

        <div class="container-servises-text">

            <p class="text-servises">Диагностики любого вида<br><br>
                ЭКГ<br><br>
                ФГДС<br><br>
                ХОЛТЕР<br><br>
                УЗИ<br><br>
            </p>
            
        </div>
    </div>

</div>







<div class="footer">


    <p class="h1-footer">КЛИНИКА ВГМУ 2025</p>
    <p class="p-footer">Pars sanitatis velle sanari fuit (желание стать здоровым - часть выздоровления)</p>
</div>


</body>
</html>